*{
    margin: 0;padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans', sans-serif;
}
main{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    float: left;
    overflow: hidden;
    
}

main>header{
    width: 100%;
    height: 135px;
    /* border: 1px solid blueviolet; */
    display: flex;
    flex-wrap: wrap;
    /* position: absolute; */
    top: 0;left: 0;
    float: left;
    background: white;
}
main>header>.head-top{
    width: 100%;
    height: 40px;
    background: #004c4c;
    display: flex;
    
}
main>header>.head-top>*{
    height: 100%;
    /* border: 1px solid cyan; */
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.5%;
}
main>header>.head-top>div>*{
    height: 100%;
    margin-left: 5%;
    align-items: center;
    font-size: 14px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}
main>header>.head-top>div>span{
    display: block;
    /* border: 1px solid red; */
    line-height: 30px;
}

main>header>.head-top>div>p{
    margin-top: 1%;
    font-family: 'Noto Sans', sans-serif;
    /* border: 1px solid firebrick; */
    line-height: 40px;
}
main>header>.head-top>div:nth-of-type(1)>p{
    margin-top: 3%;
}


main>header>.head-top>div:nth-of-type(2){
    flex-grow: 7;
}
main>header>.head-top>div:nth-of-type(2)>*{
    margin-left: 2%;
}

main>header>.head-top>ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
main>header>.head-top>ul>li{
    flex-basis: 25%;
    list-style-type: none;
    /* border: 1px solid violet; */
    height: 100%;
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2%;
    cursor: pointer;
    transition: .4s;
}
main>header>.head-top>ul>li:hover{
    color: #37b9b933;
}

/* ------ end of head-top */


.head-bottom{
    width: 100%;
    height: 95px;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    position: fixed;
    top: 40px;left: 0;
    background: white;
    z-index: 99;
    border:1px solid rgba(221, 221, 221, 0.555);
}
.head-bottom>*{
    /* border: 1px solid gold; */
    flex-grow: 1;
    color: #004c4c;
    font-family: 'Noto Sans', sans-serif;
    
}


.head-bottom>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2%;
    flex-grow: 1.5;
    cursor: pointer;

}

.head-bottom>div>.logo{
    display: block;
    min-width: 20px;
    width: 5%;
    height: 40%;
    background: url(img/logo.jpg);
    background-size: cover;
}
.head-bottom>div>h2{
    font-size: 20px;
    /* border: 1px solid green; */
    margin-left: 1%;
    padding-right: 10%;
}
.head-bottom>div>h2:hover{
    color: #008f8f;
}


.head-bottom>nav>ul{
    width: 100%;
    height: 100%;
    /* background: chartreuse; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.head-bottom>nav>ul>li{
    min-width: 90px;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    list-style-type: none;
    /* border: 1px solid tomato; */
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* flex-shrink: 2; */
}
.head-bottom>nav>ul>li>a{
    color: #004c4c;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: chartreuse; */
    padding: 0 6%;
    text-decoration: none;
    position: relative;
}
.head-bottom>nav>ul>li>a::before{
    content: '';
    width: 0;
    height: 2%;
    position: absolute;
    bottom: 0;left: 50%;
    background: #a66d3f;
    transition: .7s;
}
.head-bottom>nav>ul>li>a:hover::before{
    width: 100%;
    left: 0;
}
.head-bottom>nav>ul>li:last-of-type>a::before,
.head-bottom>nav>ul>li:nth-of-type(1)>a::before{
    content: '';
    height: 0;
}
.head-bottom>nav>ul>li:nth-of-type(1)>a>span{
    display: block;
    color: #004c4c;
    /* background: rgb(53, 70, 21); */
    font-weight: 100;
    margin: 0 10%;
    transition: .4s;
}

.head-bottom>nav>ul>li:nth-of-type(1)>a{
    border-bottom: 2px solid #a66d3f;
    transition: .4s;
}
.head-bottom>nav>ul>li:nth-of-type(1):hover a{
    border-bottom: 2px solid #004c4c;
    color: #a66d3f;
}
.head-bottom>nav>ul>li:nth-of-type(1)>a:hover span{
    color: #a66d3f;
}
.head-bottom>nav>ul>li:last-of-type{
    flex-grow: 5;
}
.head-bottom>nav>ul>li:last-of-type>a{
    flex-grow: 3;
}
.head-bottom>nav>ul>li:last-of-type>a>span{
    display: block;
    width: 100%;
    height: 40%;
    background: #a66d3f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    transition: 1s;
    font-size: 14px;
}

.head-bottom>nav>ul>li:last-of-type>a>span:hover{
    background: #004c4c;
}



/* ----end of header----- */



.first-page{
    min-width: 400px;
    width: 100%;
    min-height: 80vh;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    /* padding-right: 10%; */
    float: left;
    background: rgb(255, 255, 255);
}
.first-page>*{
    min-width: 400px;
    max-width: 50%;
    min-height: 90vh;
    height: auto;
    /* border: 1px solid orange; */
    display: flex;
    align-content: space-around;
    align-items: center;
}
.first-page>.pageone-pic{
    justify-content: center;
    min-height: 90vh;
    padding: 5% 5%;
}
.first-page>.pageone-pic>img{
    /* min-width: 400px; */
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.first-page>.caption{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    /* padding: 5% 0; */
}
.first-page>.caption>*{
    min-width: 400px;
    width: 100%;
    padding: 3% 15%;
    /* border: 1px solid brown; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first-page>.caption>h3{
    color: #a66d3f;
    font-size: 20px;
    margin-top: 10% !important;
}
.first-page>.caption>h1{
    color: #004c4c;
    font-size: 60px;
    font-family: "Cormorant Garamond";
}
.first-page>.caption>h2{
    color: #004c4c;
    line-height: 40px;
    font-size: 27px;
    font-weight: 100;
}
.first-page>.caption>div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 10%; */
    /* background: chartreuse; */
}
.first-page>.caption>div>*{
    min-width: 200px;
    width: 50%;
    height: 50px;
}
.first-page>.caption>div>input{
    display: none
}
.first-page>.caption>div>label{
    background: #a66d3f;
    color: white;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}
.first-page>.caption>div>label:hover{
    background: #d89864;
}

/* ------end page-one---- */


.page-two{
    width: 100%;
    min-height: 100vh;
    /* background: cornflowerblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    float: left;
    background: white;
    
}
.page-two>*{
    width: 400px;
    min-height: 60vh;
    /* border: 1px solid green; */
    /* margin-top: 1%; */
    border-radius: 5px;
    margin: 4% 0;
}
.page-two>div:nth-of-type(1){
    background: #a66d3f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.box-page-two:nth-of-type(1)>*,
.box-page-two:nth-of-type(2)>*{
    width: 100%;
    /* border: 1px solid khaki; */
    /* background: rgb(129, 153, 106); */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 10%;
}
.box-page-two:nth-of-type(1)>div:nth-of-type(1),
.box-page-two:nth-of-type(1)>div:nth-of-type(4),
.box-page-two:nth-of-type(2)>div:nth-of-type(1),
.box-page-two:nth-of-type(2)>div:nth-of-type(4){
    height: 15vh;
}
.box-page-two:nth-of-type(1)>div:nth-of-type(2),
.box-page-two:nth-of-type(1)>div:nth-of-type(3),
.box-page-two:nth-of-type(2)>div:nth-of-type(2),
.box-page-two:nth-of-type(2)>div:nth-of-type(3){
    height: 12vh;
    color: white;
    font-family: "Noto Sans";
    text-align: center;
}
.box-page-two:nth-of-type(1)>div:nth-of-type(1)>i,
.box-page-two:nth-of-type(2)>div:nth-of-type(1)>i{
    font-size: 70px;
    color: white;
}
.box-page-two:nth-of-type(1)>div:nth-of-type(2),
.box-page-two:nth-of-type(2)>div:nth-of-type(2){
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
}
.box-page-two:nth-of-type(1)>div:nth-of-type(4)>input,
.box-page-two:nth-of-type(2)>div:nth-of-type(4)>input{
    width: 60%;
    height: 40px;
    display: none;
}
.box-page-two:nth-of-type(1)>div:nth-of-type(4)>label,
.box-page-two:nth-of-type(2)>div:nth-of-type(4)>label{
    width: 60%;
    height: 40px;
    border: 1px solid white;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: "Noto Sans";
    font-weight: normal;
    cursor: pointer;
    transition: .4s;
}
.box-page-two:nth-of-type(1)>div:nth-of-type(4)>label:hover,
.box-page-two:nth-of-type(2)>div:nth-of-type(4)>label:hover{
    background: #bebbb85d;
}


.page-two>div:nth-of-type(2){
    background: #004c4c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.page-two>div:nth-of-type(3){
    background: url(img/pic1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.page-two>div:nth-of-type(3)::before{
    content: '';
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background: #004c4c00;
    transition: 1s;
}
.page-two>div:nth-of-type(3):hover:before{
    background: #0033336b;
}
/* ----end page-two ---- */


.page-three{
    width: 100%;
    min-height: 100vh;
    height: auto;
    float: left;
    background: rgba(36, 36, 36, 0.459);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 13% 0 10% 5%;
}
.page-three>*{
    width: 60%;
    height: auto;
    color: white;
    margin-top: 1%;
    /* text-align: center; */
    /* border: 1px solid black; */
    /* background: rgba(137, 43, 226, 0.24); */
}
.page-three>div:nth-of-type(1){
    height: 3px;
    background: white;
    margin: -5% 10% 6% .5%;
}
.page-three>div:nth-of-type(2){
    font-size: 51px;
    font-family: "Cormorant Garamond";
    line-height: 60px;
}
.page-three>div:nth-of-type(3){
    font-size: 23px;
    font-family: "Noto Sans";
    line-height: 50px;
    padding-top: 5%;
}
.page-three>div:nth-of-type(4){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2% 1%;
}
.page-three>div:nth-of-type(4)>*{
    min-width: 40%;
    /* max-width: 50%; */
    height: 50px;
}
.page-three>div:nth-of-type(4)>input{
    display: none
}
.page-three>div:nth-of-type(4)>label{
    background: #a66d3f;
    color: white;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0 5%;
    cursor: pointer;
    transition: .7s;
}
.page-three>div:nth-of-type(4)>label:hover{
    background: white;
    color: #a66d3f;
}


/* ---------------CODED BY PARVINRMN----- */
/* -------END OF PAGE-THREE---- */
.page-four{
    width: 100%;
    min-height: 100vh;
    float: left;
    background: rgb(252, 245, 245);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.page-four>*{
    max-width: 50%;
    min-width: 400px;
    height: 100%;
    /* border: 1px solid turquoise; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-align: center;
}
.page-four>div:nth-of-type(1)>figure{
    width: 100%;
    height: 80%;
    padding:5% 0 0 5%;
    /* background: yellow; */
}
.page-four>div:nth-of-type(1)>figure>img{
    width: 95%;
    height: 100%;
}
.caption-two>*{
    width: 100%;
    /* border: 1px solid orange; */
    /* background: peru; */
    color: #004c4c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 5% 10%;
}
.caption-two>div:nth-of-type(1){
    font-size: 53px;
    font-family: "Cormorant Garamond";
    line-height: 60px;
    font-weight: bold;
    padding: 5% 3% 0 6%;
    
}
.caption-two>div:nth-of-type(2){
    font-size: 20px;
    font-family: "Noto Sans";
    line-height: 30px;
    font-weight: 300;
    text-align: center;
}
.caption-two>div:nth-of-type(3)>#para3{
    width: 50%;
    height: 40px;
    display: none;
}
.caption-two>div:nth-of-type(3)>label{
    min-width: 200px;
    width: 50%;
    height: 50px;
    border: 1px solid #a66d3f;
    line-height: 40px;
    text-align: center;
    color: #c98e9b ;
    font-size: 15px;
    font-family: "Noto Sans";
    font-weight: normal;
    border-radius: 5px;
    line-height: 50px;
    cursor: pointer;
    transition: .7s;
}
.caption-two>div:nth-of-type(3)>label:hover{
    background: #a66d3f;
    color: white;
}

/* ----------END OF PAGE-FOUR-------- */

.page-five{
    width: 100%;
    min-height: 92vh;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: white;
    z-index: 3;
}
.page-five>*{
    min-width: 400px;
    width: 28%;
    height: 70vh;
    /* border: 1px solid #ff0000; */
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.box-five-button{
    min-width: 400px;
    width: 100%;
    height: 10vh;
    /* background: tomato; */
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.box-five-button>*{
    width: 190px;
    height: 50px;

}
.box-five-button>#para3{
    display: none;
}
.box-five-button>label{
    border: 1px solid #a66d3f;
    color: #a66d3f;
    border-radius: 5px;
    font-family: "Noto Sans";
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.box-five-button>label:hover{
    background: #a66d3f;
    color: white;
}
.box-five>figure{
    min-width: 400px;
    width: 100%;
    height: 55%;
    /* background: chartreuse; */
    /* padding: 3%; */
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.box-five>figure>img{
    width: 100%;
    height: 100%;
}
.box-five>figure>figcaption{
    width: 100%;
    height: 100%;
    color: white;
    background: #004c4cc9;
    font-family: "Cormorant Garamond";
    position: absolute;
    top: 0;left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    cursor: pointer;
}
.box-five>figure>figcaption>*{
    width: 100%;
    color: white;
    font-family: "Cormorant Garamond";
    text-align: center;
    padding: 0 5%;
}
.box-five>figure:hover figcaption{
    opacity: 1;
    visibility: visible;
}
.box-five>h2{
    width: 100%;
    height: 25%;
    /* background: crimson; */
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Cormorant Garamond";
    color: #004c4c;
    font-size: 33px;
    font-weight: 600;
    cursor: pointer;
    text-replace: auto;.4s
}
.box-five>h2:hover{
    color: #288585;
}
.box-five>h4{
    width: 100%;
    height: 15%;
    padding: 0 10%;
    color: #004c4c;
    font-size: 13px;
}

/* --------ENDI PAGE-FIVE------- */

.page-six{
    width: 100%;
    min-height: 80vh;
    height: auto;
    background: white;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    z-index: 3;
}
.page-six>*{
    min-width: 400px;
    width: 42%;
    height: 80vh;
    /* border: 1px solid lightsteelblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}    
.page-six>div:nth-of-type(1)>.pic{
    min-width: 400px;
    width: 85%;
    height: 75vh;
    padding: 10%;
    background: url(img/pic6.jpg);
    background-size: cover;
}
.page-six>div:nth-of-type(2){
    flex-grow: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.page-six>div:nth-of-type(2)>*{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* border: 1px solid red; */
    padding: 0% 10%;
    text-align: center;
    color: #004c4c;
}
.page-six>div:nth-of-type(2)>h1{
    font-family: "Cormorant Garamond";
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
}
.page-six>div:nth-of-type(2)>h3{
    font-family: "Noto Sans";
    font-size: 20px;
    line-height: 35px;
}
.page-six>div:nth-of-type(2)>div{
    margin-top: 4%;
}
.page-six>div:nth-of-type(2)>div>#para4{
    display: none;
    width: 80px;
    height: 40px;
}
.page-six>div:nth-of-type(2)>div>label{
    width: 200px;
    height: 50px;
    border: 1px solid #a66d3f;
    color:#a66d3f;
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
}
.page-six>div:nth-of-type(2)>div>label:hover{
    background: #a66d3f;
    color: white;
}


/* ------END OF PAGE SEVEN----- */

.page-seven{
    width: 100%;
    min-height: 40vh;
    height: auto;
    /* background: yellowgreen; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.page-seven>*{
    min-width: 400px;
    width: 32%;
    min-height: 40vh;
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    color: #004c4c;
    text-align: left;
    padding: .5% 1% 2% 2%;
}
.page-seven>h2{
    font-family: "Cormorant Garamond";
    font-size: 41px;
    font-weight: 800;
}
.page-seven>h3{
    font-family: "Noto Sans";
    font-size: 20px;
    line-height: 40px;
}


/* -------END OF PAGE SEVEN------ */

.page-eight{
    min-width: 400px;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: rgb(243, 250, 249);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.page-eight>*{
    min-width: 400px;
    min-height: 100vh;
    /* height: auto; */
    /* border: 1px solid red; */
    /* background: rebeccapurple; */
}
.page-eight>figure{
    width: 48%;
}
.page-eight>div{
    width: 52%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.page-eight>div>*{
    width: 100%;
    min-width: 400px;
    padding: 5% 15%;
    /* border: 1px solid aqua; */
    color: #004c4c;
    /* background: blueviolet; */
    margin: .5%;
}
.page-eight>div>h1{
    font-size: 50px;
    font-family: "Cormorant Garamond";
    text-align: center;
    font-weight: 700;
}
.page-eight>div>h3{
    font-size: 20px;
    font-family: "Noto Sans";
    text-align: center;
}
.page-eight>div>.button-eight{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-eight>input{
    display: none;
}
.button-eight>label{
    min-width: 230px;
    width: 50%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 100;
    font-family: "Noto Sans";
    color: white;
    background: #a66d3f;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}
.button-eight>label:hover{
    background: #b66c2f7e;
    border: 1px solid #a66d3f;
}

.page-eight>figure{
    padding-left: 5%;
}
.page-eight>figure>img{
    width: 100%;
    height: 100vh;
    margin-top: 2%;
}

/* ------END PAGE- EIGHT------ */
.page-nine{
    min-width: 400px;
    width: 100%;
    height: auto;
    min-height: 95vh;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    /* background: coral; */
}
.page-nine>*{
    min-width: 400px;
    width: 30%;
    min-height: 90vh;
    height: auto;
    /* border: 1px solid lime; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.box-nine>*{
    min-width: 400px;
    width: 85vh;
    /* border: 1px solid violet; */
    flex-grow: 1;
    text-align: left;
    color: #004c4c;
}
.box-nine>figure{
    min-width: 400px;
    width: 100%;
    height: 40vh;
    margin: 1% 10%;
}
.box-nine>figure>img{
    width: 100%;
    height: 100%;
}
.box-nine>h2{
    font-family: "Cormorant Garamond";
    font-size: 30px;
    font-weight: 800;
    padding-left: 10%;
}
.box-nine>h3{
    height: 30vh;
    font-family: "Noto Sans";
    font-size: 23px;
    padding: 0 10% 0 10%;
    line-height: 40px;
}
.box-nine>ul{
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background: hotpink; */
    padding-left: 8%;
}
.box-nine>ul>li{
    width: 45px;
    height: 45px;
    list-style-type: none;
    /* border: 1px solid orange; */
    text-align: center;
    display: flex;
}
.box-nine>ul>li>i{
    /* background: #c98e9b; */
    font-size: 22px;
    line-height: 40px;
    color: #a66d3f;
    cursor: pointer;
    transition: .7s;
    flex-grow: 1;
}
.box-nine>ul>li:hover i{
    color: #004c4c;
}


/* -------- END OF PAGE-NINE----- */



.page-ten{
    width: 100%;
    min-width: 400px;
    min-height: 100vh;
    height: auto;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    background: #004c4c;
}
.footer-box{
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
}
.footer-box:nth-of-type(1),
.footer-box:nth-of-type(2),
.footer-box:nth-of-type(3){
    width: 30%;
    min-width: 400px;
    min-height: 50vh;
    height: auto;
    margin-top: 3%;
    justify-content: flex-start;
    align-content: flex-start;
}
.footer-box:nth-of-type(1)>*,
.footer-box:nth-of-type(2)>*,
.footer-box:nth-of-type(3)>*{
    padding: 2% 10%;
    width: 100%;
    min-width: 400px;
    color: white;
    text-align: left;
    line-height: 40px;
    color: white;
    /* border: 1px solid red; */

}

.footer-box:nth-of-type(4){
    width: 95%;
    height: 3px;
    background: white;
}
.footer-box:last-of-type{
    width: 100%;
    min-width: 400px;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    font-family: "Noto Sans";
    font-size: 15px;
    font-weight: 400;
    /* border: 1px solid khaki; */
}
.footer-box:nth-of-type(1)>.logo-footer{
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-box:nth-of-type(1)>.logo-footer>div{
    width: 25%;
    height: 12vh;
    background: url(img/logo-white.jpg);
    background-size: cover;
}
.footer-box:nth-of-type(1)>h3{
    min-height: 35vh;
    max-height: 50vh;
    overflow: hidden;
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: 100;
    font-family: "Noto Sans";
    /* border: 1px solid red; */
}
.footer-box:nth-of-type(2)>h2{
    font-family: "Cormorant Garamond";
    font-size: 40px;

}
.footer-box:nth-of-type(2)>ul>li{
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    font-family: "Noto Sans";
    font-size: 18px;
    cursor: pointer;
    transition: .7s;
}
.footer-box:nth-of-type(2)>ul>li:hover{
    color: #d6bea9;
}
.footer-box:nth-of-type(2)>ul>li>i{
    padding-right: 1%;
}

.footer-box:nth-of-type(3)>h2{
    font-family: "Cormorant Garamond";
    font-size: 40px;
    font-weight: 500;
}
.footer-box:nth-of-type(3)>div{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5%;
}
.footer-box:nth-of-type(3)>div>#para6,
.footer-box:nth-of-type(3)>div>#para7{
    background: #004c4c;
    border: 1px solid #004c4c;
    border-bottom: 1px solid white;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: white;
    font-family: "Noto Sans";
    font-size: 18px;
    transition: .7s;
}
.footer-box:nth-of-type(3)>div>#para6:hover,
.footer-box:nth-of-type(3)>div>#para7:hover{
    border-top: 1px solid rgba(255, 255, 255, 0.308);
    border-bottom: 2px solid white;
}
.footer-box:nth-of-type(3)>div>#para8{
    display: none;
}
.footer-box:nth-of-type(3)>div:nth-of-type(3)>label{
    background: #004c4c;
    border: 2px solid rgba(255, 255, 255, 0.466);
    width: 95%;
    height: 50px;
    line-height: 50px;
    color: white;
    font-family: "Noto Sans";
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    transition: .7s;
}
.footer-box:nth-of-type(3)>div:nth-of-type(3)>label:hover{
    background: #a66d3f;
    border: none;
}

/* --------backgrounds----- */

.background-one{
    min-width: 400px;
    width: 100%;
    height: 120vh;
    position: fixed;
    left: 0;top: 0;
    background: url(img/banner-17.jpg);
    z-index: -99;
    background-size: cover;
}
/* .background-two{
    min-width: 400px;
    width: 100%;
    height: 100vh;
    position: sticky;
    left: 0;bottom: 100px;
    background: url(img/banner-2.jpg);
    z-index: -90;
    background-size: cover;
} */



/* ------------CODED BY PARVINRMN---------- */